@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 360px) and (max-width: 959px) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 359px) {
  html {
    font-size: 80%;
  }
}

img,
svg {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a:visited {
  color: inherit;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .container {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 959px) {
  header .container nav {
    display: none;
  }
}
@media (max-width: 359px) {
  header .container nav {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  gap: 3.5rem;
}
header .container nav ul li {
  position: relative;
  color: #fff;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header .container nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 0.125rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
}
header .container nav ul li:hover::after {
  width: 100%;
  margin-left: -50%;
}
header .container .box__info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
header .container .box__info .lang {
  position: relative;
  font-size: 16px;
}
header .container .box__info .lang p {
  color: #fff;
  text-align: right;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
header .container .box__info .lang .lang-list {
  display: none;
  position: absolute;
  border-radius: 0.1875em;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.3em 1em 0.3em 0.5em;
  top: 1.5em;
  right: 0;
  cursor: pointer;
  flex-direction: column;
  gap: 0.2em;
}
@media (min-width: 360px) and (max-width: 959px) {
  header .container .box__info .lang .lang-list {
    font-size: 20px;
  }
}
@media (max-width: 359px) {
  header .container .box__info .lang .lang-list {
    font-size: 20px;
  }
}
header .container .box__info .lang .lang-list.active {
  display: flex;
  align-items: flex-start;
}
header .container .box__info .lang .lang-list li {
  color: #fff;
  text-align: right;
  font-family: Open Sans;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
header .container .box__info .lang .lang-list li:hover {
  color: #f2c41f;
}
header .container .box__info .box__logos {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
header .container .box__info .box__logos img {
  width: 1.87763rem;
  height: 1.87525rem;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}
header .container .box__info .box__logos img:hover {
  filter: brightness(0.8);
}

.divider-vertical {
  width: 0.01rem;
  height: 1.875rem;
  background: #fff;
  opacity: 0.5;
}

.s-hero {
  height: 100vh;
  /* Define a altura da seção como 100vh */
  display: flex;
  /* Usa display: flex para centralizar a imagem */
  justify-content: center;
  /* Centraliza a imagem horizontalmente */
  align-items: center;
  position: relative;
}
.s-hero .container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.s-hero .container .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.s-hero .container .text p {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.125rem;
}
.s-hero .container h1 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 5.79313rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.48275rem;
  text-transform: uppercase;
}
.s-hero .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-hero .bg-img img {
  width: 100%;
  /* Define a largura da imagem como 100% */
  height: 100%;
  object-fit: cover;
  /* Usa object-fit: cover para preencher todo o espaço disponível */
  object-position: center;
  /* Centraliza a imagem verticalmente */
}
.s-hero .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(16, 32, 57, 0.87) 0%, rgba(89, 103, 128, 0) 100%);
}
.s-hero .bg-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/cloud.png) no-repeat center center;
  background-size: 5440px 100%;
  animation: cloud 90s linear infinite;
  opacity: 0.2;
}

@keyframes cloud {
  0% {
    background-position: 100vw;
  }
  100% {
    background-position: -5440px;
  }
}
.button-main {
  display: flex;
  border-radius: 0.25rem;
  background: #f2c41f;
  padding: 1.13rem 2.5rem;
  transition: all 0.3s ease-in-out;
}
.button-main:hover {
  filter: brightness(0.9);
}
.button-main span {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-main span .divider-vertical {
  background: #000;
}